.jobs-bg-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  border: 2px solid;
}

.side-bar {
  min-height: 100vh;
  width: 30%;

  display: flex;
  flex-direction: column;
  padding: 5px;
}

.user-info-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 220px;
  width: 270px;
  padding: 10px;
  background-size: cover;
  border-radius: 10px;
}

.joblist-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.search-box {
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 1px solid white;
  width: 500px;
  border-radius: 3px;
  margin-left: 40px;
}

.search-icon {
  color: white;

  padding: 5px;
  font-size: 32px;
}
.input-section {
  background-color: transparent;
  padding: 8px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #cbd5e1;
  width: 484px;
}

.line-section {
  color: white;
  width: 120%;
  margin-top: 20px;
  margin-left: -37px;
}
.line-section1 {
  color: white;
  width: 100%;
  margin-top: 20px;
}

.sorting-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin-top: 25px;
  list-style: none;
  border: 2px solid white;
  margin-left: 0px;
}

.checkbox-container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  list-style: none;
  margin-left: -40px;
  border: 2px solid white;
}

.checkbox-container1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  margin-left: -40px;
}

.failure-view-secton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.loader-containe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  align-self: center;
}

.retry-btn {
  background-color: #6366f1;
  padding: 10px;
  border: none;
  color: white;
  outline: none;
}

.no-jobs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.profile-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 170px;
  width: 270px;
  padding: 10px;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.profile-image {
  height: 40px;
  width: 40px;
}

.name-secton {
  color: #4f46e5;
  font-size: 18px;
}

.bio-description {
  color: #6366f1;
  font-size: 16px;
}

salaryRange-section {
  list-style: none;
}

.search-btn {
  background-color: #121212;
  color: white;
}
